<c-component
  tag="{{ ctx.href ? 'a' : 'button' }}"
  type="{{ ctx.href ? '' : (ctx.type || 'button') }}"
  {{ ctx.href ? `href="${ctx.href}"` : '' }}
  {{ ctx.target ? `target="${ctx.target}"` : '' }}
  class="
        {{ ctx.variant === 'primary' ? 'text-white bg-gray-800 hover:bg-gray-700' : 'text-gray-700 bg-gray-200 hover:bg-gray-300' }}
        {{ ctx.size === 'sm' ? 'text-xs py-2 px-3' : '' }}
        {{ ctx.size === 'lg' ? ('text-lg py-4 ' + (ctx.icon ? 'pl-5 pr-6' : 'px-5')) : '' }}
        {{ !ctx.size ? 'text-base py-2 px-3' : '' }}
        {{ ctx.class }}
        inline-flex whitespace-no-wrap items-center justify-center border border-transparent
        leading-none font-semibold rounded-full
        focus:outline-none focus:shadow-outline transition duration-150 ease-in-out"
>
  {{ ctx.children }}
</c-component>
