<div class="min-h-screen bg-gray-900 text-gray-100 pt-40" x-ref="fullstack">
  <c-container>
    <c-typography variant="title">The Fullstack</c-typography>
    <c-typography variant="subtitle">Here is the technology and tools that I have solid  knowledge.</c-typography>
  </c-container>

  <div class="overflow-x-auto py-8 pl-4 sm:mx-auto container">
    <div class="flex">
      <c-button class="mr-3" variant="primary" size="lg">Frontend</c-button>
      <c-button class="mr-3" variant="primary" size="lg">Backend</c-button>
      <c-button class="mr-3" variant="primary" size="lg">Databases</c-button>
      <c-button class="mr-3" variant="primary" size="lg">Build Tools</c-button>
      <c-button class="mr-3" variant="primary" size="lg">DevOps</c-button>
    </div>
  </div>
</div>
