<div class="min-h-screen py-20 md:py-40" x-ref="intro">
  <c-container>
    <c-typography variant="title">Hi, my name is Mayke</c-typography>
    <c-typography variant="subtitle" class="text-gray-600 mb-6">I made this website to show you some of my skills.</c-typography>
    <c-typography class="text-gray-600">Please take a look at the repository, I made a simple build system specially for you.</c-typography>

    <div class="mt-8 max-w-sm grid grid-flow-row grid-cols-2 col-gap-3">
      <c-button size="lg" 
                variant="primary" 
                icon="true"
                @click="scrollToSection($refs.about)">
        <c-arrow-down-icon class="mr-2"></c-arrow-down-icon>
        <span>Continue</span>
      </c-button>

      <c-button href="https://github.com/maykefreitas/tailwind-job" target="blank" size="lg" icon="true">
        <c-code-icon class="mr-2"></c-code-icon>
        <span>Source <span class="hidden sm:inline-block">Code</span></span>
      </c-button>
    </div>
  </c-container>
</div>
