<div class="bg-gray-900 py-20 md:py-0">
  <c-container>
    <c-typography variant="title" class="text-gray-200 text-center">Spoiler Alert</c-typography>
    <c-typography variant="subtitle" class="text-gray-500 text-center mb-10">This is my side-project. A TailwindCSS Page Builder</c-typography>

    <div class="max-w-5xl mx-auto">
      <div class="relative aspect-16x9 overflow-hidden rounded-lg" style="padding-bottom: 56.25%">
        <iframe class="absolute pin w-full h-full" src="https://www.youtube.com/embed/1JbTAmduQVg?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  
  </c-container>
</div>
